
<div class="user_info">
  <a href="<%= user_path(user) %>">
      <%= gravatar_for user, :size => 40 %>
    <span class="user_name">
      <%= user.name   %> 
    </span>
    <span class="num_log_entries">
      <%= pluralize(user.log_entries.count, "log entry") %>
    </span>
  </a>
  <hr />
  </div>
  
  <div class="user_info_time">
	<% unless user.log_entries.empty? %>
	  <p>
	  <span "class = "current_time">
		<%= render 'shared/hourmin', :t => user.total_elapsed_time , :msg => "Total Time" %>
		<%= render 'shared/hourmin', :t => user.total_elapsed_time(:day), :msg => "Day" %> 
		<%= render 'shared/hourmin', :t => user.total_elapsed_time(:night), :msg => "Night" %>
	  </span>
	  </p>
		<% all = user.time_remaining %>
		<% night = user.time_remaining(:night) %>
		<% if all == 0 &&  night == 0 %>
			<span class="hours_done"> Required hours complete! </span>
		<% else %>
			<span class="hours_remaining">Time remaining</span> <br />
			<% if all > 0 %>
				<%= render 'shared/hourmin', :t => all, :msg => "TOTAL" %> 
			<% end %>
			<% if night > 0 %>
				<em>
						<%= render 'shared/hourmin', :t => night, :msg => "Night:" %> 
				</em>
			<% end %>
		<% end %>
		<br />
	</div>
	<% end %>
	
