<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="log_entry">Enter Trip Info</h1>
        <%= render 'shared/log_entry_form' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info', :user => current_user%>
      </td>
    </tr>
  </table>
<% else %>

  <p>
    Welcome to the Driving Log! 
    Got your permit?  Enter the details of when you drive and track your 
    practice hours towards the total needed to qualify for your drivers license.
    
   <p><%= link_to "Create an account", signup_path %>  or <%= link_to "sign in", signin_path %> to add driving trips to your log!
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>