<tr class="log_entry">
  <td> <span class="date">
  <%= log_entry.start_time.strftime( "%m/%d/%y at %I:%M%p")   %>
  </span>
  </td>
  
  <td> <span class="night">
  <% if log_entry.night? %>
     <%# <img src="images/night.jpg" alt="Night" title="Night" /> %>
     <%= image_tag("night.png", :size => "30x30", :alt => "night", :title => "Night") %>
  <% end %>
  </span>
  </td>
  
  <td> <span class="elapsed_time">
  <%= render :partial => 'shared/hourmin', 
                :locals => { :t => log_entry.elapsed_time , :msg => "" } %>
 </span>
  </td>
  
  <td >
    <span class="notes"><%= log_entry.notes %></span>
    <span class="timestamp">
      <br /><em><small>Entered <%= time_ago_in_words(log_entry.created_at) %> ago.<small></em>
    </span>
  </td>
  
  <td>
  <% if current_user?(@user) %>
    <%= link_to "delete", log_entry, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => log_entry.notes %>
  <% end %>
  </td> 
  
</tr>